@import "bootstrap-sprockets";
@import "bootstrap";

@import "./barbecues.scss";


.pull-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.nav{
  background-color: #5cb85c;
}